@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'Be Vietnam Pro', sans-serif;
	overflow-x: hidden;
}
body
{
	background-image:url(../img/bg-image.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.logo
{
	margin:20px 75px;
}
h1
{
	margin: 40px auto;
	width: 680px;
	text-align: center;
	font-size: 4rem;
	font-weight:bold;
	color:#FFFFFF;
}
h2
{
	margin: -20px auto;
	text-align: center;
	width: 680px;
	font-size: 2rem;
	font-weight: 500;
	color:#FFFFFF;
}
.contact-form
{
	margin: 100px auto;
	width: 810px;
	background-color: #CDD5E020;
	border-radius: 25px;
	padding: 30px 30px;
}
.row
{
	display: flex;
	flex-wrap: wrap;
	gap:18px;
	padding-bottom: 20px;
}
.column
{
	width: calc(50% - 9px);
}
.contact-form label
{
	display: block;
	font-size: 0.875rem;
	color:white;
}
.contact-form input, .contact-form select
{
	margin-top: 5px;
	width: 100%;
	height: 70px;
	border:none;
	outline: none;
	border-radius: 16px;
	background-color: #F8FAFC;
	padding-left: 23px;
	font-size: 16px;
	font-weight: 600;
	color:#111729;
}
::placeholder
{
	color: #CDD5E0;
}
::-ms-input-placeholder
{
	color:#CDD5E0;
}
select
{
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	background: url(../img/Expand_down.svg);
	background-repeat: no-repeat;
	background-position-x: calc(100% - 24px);
	background-position-y: 22px;
}
option
{
	font-size: 16px;
	font-weight: 600;
	color:#111729;
}
textarea
{
	margin-top: 5px;
	margin-bottom: 20px;
	width: calc(100%);
	height: 205px;
	border:none;
	outline: none;
	border-radius: 16px;
	background-color: #F8FAFC;
	padding: 25px 23px;
	font-size: 16px;
	font-weight: 600;
	color:#111729;
	resize: none;
}
#contact
{
	width: calc(100%);
	padding: 0px;
	text-align: center;
	font-size: 1.25rem;
	color: #4036A9;
}

@media screen and (max-width:1040px)
{
	h1
	{
		width: 500px;
		font-size: 48px;
	}
	h2
	{
		width: 500px;
		font-size: 24px;
	}
	.contact-form
	{
		width: 93%;
	}
}
@media screen and (max-width:680px)
{
	.column
	{
		width: calc(100%);
	}
	h1,h2
	{
		width: 80%;
	}
}